* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.title p { 
    margin-top: 15px;
    font-size: 40px;
    color: #ADD8E6;
    margin-bottom: 15px;
}


.headings {
    color: #16a085;
    font-size: 15px;
}

.values {
    color: whitesmoke;
    font-size: 20px;
}