* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aqua;
}

.title p { 
    margin-top: 15px;
    font-size: 40px;
    color: #ADD8E6;
    margin-bottom: 15px;
}

.display {
    font-size: 20px;
    color: whitesmoke;
}