* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aqua;
    overflow: hidden;
}

.title p { 
    margin-top: 15px;
    font-size: 40px;
    color: #ADD8E6;
    margin-bottom: 15px;
}

.display {
    font-size: 20px;
    color: whitesmoke;
}

.form1 form {
    position: absolute;
    top: 38%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #fff;
}

.form1 form p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
    font-family: Arial;
}

.form1 form input[type=file] {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}


.form2 form {
    position: absolute;
    top: 78%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
}

.form3 form {
    position: absolute;
    top: 86%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
}

.form1 form input[type=submit], .form2 form input[type=submit], .form3 form input[type=submit] {
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 500px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}

.form1 form input[type=submit]:hover, .form2 form input[type=submit]:hover, .form3 form input[type=submit]:hover {
    background: #149174;
    color: #0C5645;
  }

.form1 form input[type=submit]:active, .form2 form input[type=submit]:active, .form3 form input[type=submit]:active {
    border: 0;
}

.loader #spinner {
    position: absolute;
    top: 80%;
    left: 47.5%;
    width: 50px;
    height: 50px;
    display: none;
}

@media (min-width: 1260px) and (min-height: 780px) {

    .title p {
        font-size: 55px;
    }

    .display {
        font-size: 28px;
    }

    .form1 form {
        margin-top: -75px;
        height: 220px;
    }

    .form1 form p {
        font-size: 20px;
    }

    .form2 form {
        top: 82%;
    }

    .form3 form {
        top: 91%;
    }
}

@media (max-width: 1024px) and (max-width: 1259px){

    .title p {
        font-size: 40px;
    }

    .display {
        font-size: 25px;
    }

    .form1 form {
        height: 210px;
        margin-top: -55px;
    }

    .form1 form p {
        font-size: 17px;
    }

    .form2 form {
        top: 97%;
    }

    .form3 form {
        top: 107%;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {

    .display {
        font-size: 21px;
    }

    .form1 form {
        margin-top: -110px;
    }

    .form1 form p {
        font-size: 18px;
    }

    .form2 form {
        top: 76%;
    }

    .form3 form {
        top: 85%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .display {
        font-size: 21px;
    }

    .form1 form {
        left: 53%;
        width: 460px;
    }

    .form1 form input[type=submit] {
        width: 460px;
    }

    .form1 form p {
        font-size: 18px;
    }

    .form2 form input[type=submit] {
        top: 84%;
        width: 460px;
        margin-left: 15px;
    }

    .form3 form input[type=submit] {
        top: 84%;
        width: 460px;
        margin-left: 15px;
    }
}

@media (max-width: 480px) {

    .title p {
        margin-left: 150px;
        font-size: 20px;
    }

    .display {
        margin-left: 150px;
        font-size: 20px;
    }

    .form1 form {
        position: absolute;
        left: 90%;
        width: 290px;
        height: 200px;
        border-radius: 90%;
    }

    .form1 form p {
        font-size: 15px;
    }

    .form2 form, .form3 form {
        position: absolute;
        left: 90%;
    }

    .form1 form input[type=submit], .form2 form input[type=submit], .form3 form input[type=submit] {
        width: 290px;
    }
}