<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Music Genre Recognizer</title>
</head>
<body>
    <h1 align="center">Music Genre Recognizer</h1>
    <div class="form1">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <p>Drag your file here or click in this area.</p>
            <input type="submit" value="Upload">
            <br>
            {{message}}
            <br>
        </form>
    </div>
    <br>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Predict">
        <br>
        Class Name: {{final_class}}
        <br>
        Confidence: {{probs}}
    </form>
</body>
</html>