<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Genre Recognizer</title>
</head>
<body>
    <form action="/predict" method="POST">
        Upload Audio File: <input type="file" name="audio_file" required>
        <br>
        <input type="submit" value="Predict">
        <br>
        {{error_message}}
        {{display_audio_data}}
        <br>
        Class: {{result}}
    </form> 
</body>
</html>