<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/recommender_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <title>Music Recommender</title>
</head>
<body>
    <div class="container-fluid">
        <div class="title">
            <p align="center"><b>Music Recommender</b></p>
        </div>
        <div class="music">
            <p>Similarity Score: {{song_cosine_sim[0]}}</p>
            <h3>{{song_names[0]}}</h3>
            <div class="track">
                <img src="{{url_for('static', filename='images/play.png')}}" id="playBtn">
                <div id="waveform"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/song.js"></script>
</body>
</html>